<h2>Wyniki</h2>

<table border="1">
  <thead>
    <tr>
      <td>Zawodnik</td>
      <td>Wynik</td>
      <td *ngFor="let i of roundsIds">{{i}}</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of results">
      <td>{{player.name}}</td>
      <td class="points summary">{{player.summary}}</td>
      <td *ngFor="let score of player.points" class="points">{{score}}</td>
    </tr>
  </tbody>
</table>
