table{
  width: 100%;
  min-width: 850px;
  max-width: 1100px;
}
thead td{
  padding:0.25em 0.1em;
  font-weight: bold;
  text-align: center;
}

td{
  min-width: 1.3em;
}

tr:nth-child(even) td{
  background: #dce9be;
}

.points{
  text-align: right;
}

.summary{
  font-weight: bold;
}