<div class="bowling">
  <div class="file-upload">
    <label>Kliknij i załaduj plik tekstowy z danymi gry:
      <input type='file' accept='text/plain' (change)='getFileContent($event)'>
    </label>
  </div>

  <div *ngIf="fileContent && results.length == 0" class="msg error">
    Niepoprawne dane w pliku
  </div>
    
  <app-results *ngIf="results.length > 0; else help" [results]="results"></app-results>
  <ng-template #help>
    <aside class="help">
      <p>Wgrywany plik tekstowy powienien mieć rozszerzenie .txt i jego zawartość to nazwa zawodnika, a następnie w nowej linii lista punktów za dany rzut (przedzielone przecinkami).</p>
      <p>Przykładowo:</p>
      <pre>Paweł Kowalski
  1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2
  Krzysztof Król
  9, 1, 9, 1, 9, 1, 9, 1, 9, 1, 9, 1, 9, 1, 9, 1, 9, 1, 9, 1, 9
  Izabela Kania
  4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4</pre>
    </aside>
  </ng-template>
</div>