.bowling{
  width: 90vw;
  margin:0 auto;
  padding: 1em;
}

.file-upload{
  margin: 2rem 0 1rem;
}
.file-upload:after{
  display: table;
  content: '';
  clear: both;
}
.file-upload label{
  padding:.5em 1em;
  background: #2e2633;
  color: #fff;
  border: 2px solid #555152;
  border-radius: 5px;
}
.file-upload input{
  min-width: 50%;
  margin-left: .5em;
}

.help{
  padding: 0.3em 0;
}

.msg{
  position:relative;
  margin:2rem;
  padding:1em;
  text-align:center;
  background:#6e9c37;
  border:1px solid #2e2633;
  color:#fff;
}
.msg.error{
  background:#99173c;
}
