body {
  box-sizing: border-box;
  font: 1em 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #efffcd;
}

h1{
  padding: 0.7em;
  text-align: center;
  border-bottom: 1px solid #99173c;
  color: #99173c;
}

h2{
  color: #2e2633
}
